{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href= "{% static 'CSS/midpage.css' %}">
{% endblock head_content %}

{% block body_content %}

<p class = "text" id = "order-text">
    {% if invalidity %}

        INVALID HOSTEL NUMBER. PLEASE ENTER A VALID ONE.

    {% elif busy %}

        No Drones available now. Try later.....

    {% elif invalidURL %}

        Cannot find the page...probably you placed your delivery a long time ago, and now it <br>
        isn't there in the database.

    {% else %}

        Your delivery has been recorded. Your Delivery ID is {{ id }}
        It will soon arrive at <span id = "hostelNo">{{ hostel }}</span>

    If you want to track your delivery, click the 'Track Delivery' link.<br><br>

    <a href = "{% url 'TrackPage' id=id %}" id = "track-link"> Track Delivery </a>
    {% endif %}
</p>

<script type= 'text/javascript' src = "{% static 'JS/app.js' %}"></script>

{% endblock body_content %}

{% block script_content %}

{% endblock script_content %}