{% extends 'base.html' %}

{% load static %}

{% block head_content %}
    <title>Crusaders Tracking</title>
    <meta charset="utf-8" />
    <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
    <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
    <link rel="stylesheet" type="text/css" href= "{% static 'CSS/testloc.css' %}">
{% endblock head_content %}

{% block body_content %}
<body onload="startPush();">
    <div id="myMap"></div><br/>
    <!--<input type="button" value="Start Continuous Tracking" onclick="StartTracking()"/>-->
    <input type="button" class = "text" id="stop-track-button" value="Stop Continuous Tracking" onclick="StopTracking()"/>
    <!--<input type="button" value="Put Pin" onclick="putPin()"/>-->
    <!--<input type="button" class = "text" id = "push-button" value="Push" onclick="startPush()"/>-->

<br>
<p class = "text">ENTERED DELIVERY ID: <span id = "delID">{{ id }}</span></p>

<form id ="Delivered" method = "POST" action="{% url 'TrackPage' id=id %}"> {% csrf_token %}
    <input type = "submit" value="Delivered" name = "Delivered">
 </form>
 <script type='text/javascript' src="{% static 'JS/tracking.js' %}"></script>

</body>
{% endblock body_content %}
