{% extends 'base.html' %}

{% load static %}

{% block head_content %}
    <link rel="stylesheet" type="text/css" href= "{% static 'CSS/MainCSS.css' %}">
{% endblock head_content %}

{% block body_content %}

<header class = "main-heading"><span id = "C">C</span>rusaders</header>

<form action = '' method = 'POST'> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class = "drone-form-grid">    
        <div class = "grid-order-form-item" style = "grid-row: 2/3;grid-column: 2/3;"><label for = "{{ form.hostel.id_for_label }}" class = "text">{{ form.hostel.label }}</label></div>
        
        <div class = "grid-order-form-item" style = "grid-row: 3/4;grid-column: 2/3;">{{ form.hostel }}</div>
        
        <div class = "grid-order-form-item" style = "grid-row:4/5;grid-column: 2/3;">{{ form.hostel.errors }}</div>
    <div class = "grid-order-form-item" style = "grid-row: 5/7;grid-column: 2/3;"><input type = 'submit' value = "Place Order" name = "submit-order" id = "SubmitDelivery"></div>
</form>
</div>

<form action = '' method = 'POST'> {% csrf_token %}
    <div class = "track-form-grid">    
    <div class = "grid-track-form-item" style = "grid-row: 2/3;grid-column: 2/3;"><label for = "{{ form.deliveryID.id_for_label }}" class = "text">{{ trackform.deliveryID.label }}</label></div>
    
    <div class = "grid-track-form-item" style = "grid-row: 3/4;grid-column: 2/3;">{{ trackform.deliveryID }}</div>
    
    <div class = "grid-track-form-item" style = "grid-row: 4/5;grid-column: 2/3;">{{ trackform.deliveryID.errors.as_text }}</div>
    <div class = "grid-track-form-item" style = "grid-row: 5/7;grid-column: 2/3;"><input type = 'submit' value = "Track" name = "track-form" id = "SubmitTrack"></div>
</form>

</div>

{% endblock body_content %}