body {
    background: url("/static/Resources/bkg2.jpg");
    background-size: cover;
}

.main-heading {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(245,245,245);
    text-align: center;
}

#orange {
    display: inline-block;
    color: rgb(255, 156, 0);
    animation-name: rotateLetter;
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

#grid-container {
    float: left;
    height: 500px;
    width: 500px;
    border: 5px solid rgb(245,245,245);
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 75px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto;
    
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    justify-content: space-evenly;
   
}

.grid-item {
    font-family: sans-serif;
    font-size: 19px;
    color: rgb(199, 199, 199);
}

.trackform-item {
    font-family: sans-serif;
    font-size: 19px;
    color: rgb(199,199,199);
    margin-left: 35px;
}

#grid-trackform {
    float: right;
    height: 300px;
    width: 500px;
    border: 5px solid rgb(245,245,245);
    border-radius: 20px;
    margin-left: 25px;
    margin-top: 25px;
    margin-right: 75px;
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: auto;
    /*grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;*/
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
}

#SubmitDelivery {
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(245,245,245);
    color: rgb(245,245,245);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

#SubmitDelivery:hover {
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(195,195,195);
    color: rgb(195,195,195);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

#drone-id {
    width: 200px;
    height: 25px;
    color: rgb(36, 36, 36);
    text-align: center;
    font-size: 15px;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    border-radius: 10px;
}

#hostel-to {
    height: 25px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
}

#about-us-page {
    padding: 15px 15px 15px 15px;
    background: rgb(0,0,0);
    font-family: sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: rgb(245, 245, 245);
    opacity: 0.6;
}

    #about-us-page:hover {
        color: rgb(195,195,195);
        opacity: 1.0;
    }

#submitTrack {
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(245,245,245);
    color: rgb(245,245,245);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

#submitTrack:hover {
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(195,195,195);
    color: rgb(195,195,195);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

#drone-track {
    text-align: center;
    width: 200px;
    height: 25px;
    color: rgb(36, 36, 36);
    font-size: 15px;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    border-radius: 10px;
}

#about-us {
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(245, 245, 245);    
}

#C {
    color: rgb(246, 67, 67);
}

/*svg {
    position: absolute;
    right: 650px;
    height: 200px;
    width: 200px;
    fill: none;
    stroke: rgb(246, 67, 67);
    stroke-width: 20px;
    stroke-linecap: round;
}

svg path {
    
    animation:carve-C 3s ease 2s 1 alternate;
    animation-fill-mode: forwards;
    }

@keyframes carve-C {
    0% {
        d: path("M50,18");
    }

    25% {
        d: path("M50,18 A 19 31 0 1 0 38,11");
    }

    50% {
        d: path("M50,18 A 19 31 0 1 0 24.565,20.07969");
    }

    75% {
        d: path("M50,18 A 19 31 0 1 0 24.565,63.92");
    }

    100% {
        d: path("M50,18 A 19 31 0 1 0 38,73");
    }
}*/
