#SubmitDelivery{
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(245,245,245);
    color: rgb(245,245,245);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

.main-heading {
    font-family: sans-serif;
    font-size: 80px;
    color: rgb(245,245,245);
    text-align: center;
}

#C {
    color: rgb(246, 67, 67);
}

#SubmitDelivery:hover{
    border-color: rgb(195,195,195);
    color: rgb(195,195,195);
}

#SubmitTrack{
    background: none;
    border: 1px solid rgb(245,245,245);
    border-radius: 5px;
    border-color: rgb(245,245,245);
    color: rgb(245,245,245);
    font-size: 18px;
    padding-left: 4px;
    padding-top: 7px;
    padding-right: 4px;
    padding-bottom: 7px;
}

#SubmitTrack:hover{
    border-color: rgb(195,195,195);
    color: rgb(195,195,195);
}

.input-box{
    height: 25px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    text-align-last: center;
}

.drone-form-grid{ 
    position: relative;
    top: 100px;
    left: 15%;
    float: left;       
    height: 420px;
    width: 400px;
    border: 5px solid rgb(245,245,245);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.track-form-grid{      
    position: relative;
    top: 100px;
    right: 15%;
    float: right;
    height: 420px;
    width: 400px;
    border: 5px solid rgb(245,245,245);
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.errorlist{
    position: relative;
    bottom: 25px;
    right: 30px;
    list-style-type: '* ';
    font-size: 12px;
    color: rgb(255, 123, 123);
}
